

.user-logo {

  margin: 0px;

  padding: 0px;

  border-radius: 50%;

  -moz-border-radius: 50%;

  -webkit-border-radius: 50%;

  height: 30px;

  width: 30px;

  margin-right: 0px;

  padding: 0px 0px 0px 0px;

}



.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a:hover {

 color: #366873;

}



.navbar-nav > .user-menu > .dropdown-menu {

  border: 0px solid #FFFFFF;

  border-bottom-left-radius: 5px;

  border-bottom-right-radius: 5px;

  -webkit-border-bottom-left-radius: 5px;

  -webkit-border-bottom-right-radius: 5px;

  -moz-border-bottom-left-radius: 5px;

  -moz-border-bottom-right-radius: 5px;

}



.navbar-nav > .user-menu > .dropdown-menu > li.user-footer > div.text-center > a {

  color: #fff;

}

/* User Image & Login Close */



/* Language Start */

.language-img {

  margin: 0px;

  padding: 0px;

  padding: 0px 0px 0px 0px;

}



.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > div > img {

  border: 1px solid #dddddd;

  height: 20px;

  margin: auto 10px auto 0px;

  width: 30px;

}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > h4 {

  font-size: 12px;

  margin: 0;

  padding: 0px;

}



.navbar-nav > .notifications-menu > .dropdown-menu {

  width: 170px;

}

/* Labguage Close */



/* Menu User Image Start */

.color-green {

  color: #00acac;

}

/* Menu User Image End */



/* Side Menu  Start */

.sidebar .sidebar-menu > li > a:hover {

  background-color:  #232a2f !important;

  color: #EEEEEE !important;

}

.sidebar .sidebar-menu .treeview-menu > li > a:hover {

  background-color: #232a2f;

  color: #EEEEEE;

}

/* Side Menu Close */



/* Breadcrumb Start */

.box > .box-header > .breadcrumb {

  background: none !important;

  float: right;

  padding: 14px;

  margin-bottom: 0px;

  position: relative;

  font-size: 12px;

}

/* Breadcrumb Close */



/* Page Header Add Module */

.page-header > a {

  font-size: 14px;

  border-bottom: 1px solid #707478;

  color: #707478;

}



.page-header > a:hover {

  border-bottom: 1px solid #1A2229;

  color: #1A2229;

}

/* page Header Add Module */



/* Lable Start */

.form-horizontal .control-label {

  text-align: left;

  font-size: 12px;

}



label {

  font-weight: 000;

  color: #707478;

}

/* Lable Close */



/* From span Start*/

.form-horizontal > .form-group > span {

  font-weight: 000;

  color: #FF0B07;

}

/*  From span Close */



/* Table start */

.table-bordered {

    border: 1px solid #E2E7EB;

}

.table-bordered > thead > tr > th {

  border-bottom-width: 2px;

  color: #1A2229;

  font-weight: bold;

}

.table-bordered > tbody > tr > td {

  color: #707070;

}

.table-bordered > thead > tr > th,

.table-bordered > tbody > tr > td {

  border-color: #E2E7EB;

  font-size: 12px;

}



.pagination > .disabled > span,

.pagination > .disabled > span:hover,

.pagination > .disabled > span:focus,

.pagination > .disabled > a,

.pagination > .disabled > a:hover,

.pagination > .disabled > a:focus  {

  border-color: #E2E7EB;

}



.pagination > .active > a,

.pagination > .active > span,

.pagination > .active > a:hover,

.pagination > .active > span:hover,

.pagination > .active > a:focus,

.pagination > .active > span:focus {

  border-color: #242A30;

  background-color: #242A30;

}



.pagination > li > a,

.pagination > li > span {

  border-color: #E2E7EB;

}

/* Table Close */



/* Login Start */

.white-bg-login {

background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  /*  background: none repeat scroll 0 0 #F1F2F7;*/

 /* background-image:url(../../blurred-background-4.jpg);*/

}

.form-box .header {

    background: none repeat scroll 0 0 #1A2229;

}



.form-box > .header {

  margin-top: 120px;

}



.form-box .body, .form-box .footer {

  border-radius: 0px 0px 4px 4px;

  -moz-border-radius: 0px 0px 4px 4px;

  -webkit-border-radius: 0px 0px 4px 4px;

}



.form-box .body > .form-group > input,

.form-box .footer > .form-group > input {

    border: 1px solid #E2E7EB;

    box-shadow: 0 0 0 rgba(0, 0, 0, 0.070) inset;

}



.checkbox > label > input[type="checkbox"] {

    float: left;

    padding: 0px;

    margin: 2px 0px 0px 0px;

}



.checkbox > label > span {

  color:#a4b1c2;

}



.checkbox > span > label > a {

  color:#a4b1c2;

}

/* Login Close */



/* Button Margin ex: edit, delete, view Start */

.mrg {

  margin-left: 2px;

  margin-right: 2px;

}

/* Button Margin ex: edit, delete, view Close */



/* File Browse Start */

.fileUpload {

    margin: 0;

    overflow: hidden;

    position: relative;

}



.fileUpload input.upload {

    position: absolute;

    top: 0;

    right: 0;

    margin: 0;

    padding: 0;

    font-size: 20px;

    cursor: pointer;

    opacity: 0;

    filter: alpha(opacity=0);

}

/* File Browse Close */



/* Fine Total Start */

.total {

    float: right;

    border:1px solid #ccc;

    padding:10px;

    background-color: #142;

    border-radius: 0px;

    -moz-border-radius: 0px;

    -webkit-border-radius: 0px;

}



.total-marg {

  padding-left: 0px;

  padding-right: 0px;

}

/* Fine Total Close */



/* Biograph Start */

.profile-view-head {

    background: #b5bbc8;

    color: #fff;

    text-align: center;

    font-style: italic;

    padding: 10px;

    border-radius: 4px 4px 0 0;

    -webkit-border-radius: 4px 4px 0 0;

    font-size: 16px;

    font-weight: 300;

}



.profile-view-head  a  {

    border-radius: 50%;

    -webkit-border-radius: 50%;

    border: 10px solid rgba(256,256,256,0.3);

    display: inline-block;

}



.profile-view-head a img {

    width: 112px;

    height: 112px;

    border-radius: 50%;

    -webkit-border-radius: 50%;

}



.profile-view-head h1 {

    font-size: 22px;

    font-weight: 300;

    margin-bottom: 5px;

}



.profile-view-head p {

    font-size: 12px;

}



.profile-view-dis {

    color: #89817e;

}



.profile-view-dis h1 {

    font-size: 22px;

    font-weight: 300;

    margin: 0 0 20px;

}



.profile-view-tab {

    width: 50%;

    float: left;

    margin-bottom: 10px;

    padding:0 15px;

}



.profile-view-tab p span {

    display: inline-block;

    width: 40%;

}



/* Biograph Close */



/* Profile Graph Start */

.profile-db-head {

    background: #009688;

    color: #fff;

    text-align: center;

    font-style: italic;

    padding: 5px;

    border-radius: 4px 4px 0 0;

    -webkit-border-radius: 4px 4px 0 0;

    font-size: 16px;

    font-weight: 300;

}



.profile-db-head  a  {

    border-radius: 50%;

    -webkit-border-radius: 50%;

    border: 5px solid rgba(256,256,256,0.3);

    display: inline-block;

}



.profile-db-head a img {

    width: 60px;

    height: 60px;

    border-radius: 50%;

    -webkit-border-radius: 50%;

}



.profile-db-head h1 {

    font-size: 16px;

    font-weight: 300;

    margin-bottom: 5px;

}



.profile-db-head p {

    font-size: 12px;

}



/* Profile Graph End */



/* View Button Start */

.btn-cs {

  background-color: #FF766C;

  color: #FFFFFF;

  border: 1px solid transparent;

  border-radius: 4px;

  cursor: pointer;

  display: inline-block;

  font-size: 14px;

  font-weight: normal;

  line-height: 1.42857;

  margin: 2px;

  padding: 6px 12px;

  text-align: center;

  vertical-align: middle;

  white-space: nowrap;

}



.btn-cs:hover {

  background-color: #ED857E;

  color: #EDEDED;

}



.btn-sm-cs {

    border-radius: 3px;

    font-size: 12px;

    line-height: 1.5;

    padding: 5px 10px;

}

/* View Button Close */



/* IDcard Start */



.idcard-Table {

  background-color: #FF766C;

  width: 100%;

  border-top-left-radius: 60px;

  border-bottom-left-radius: 60px;

  border-top-right-radius: 5px;

  border-bottom-right-radius: 5px;



  -moz-border-top-left-radius: 60px;

  -moz-border-bottom-left-radius: 60px;

  -moz-border-top-right-radius: 5px;

  -moz-border-bottom-right-radius: 5px;



  -webkit-border-top-left-radius: 60px;

  -webkit-border-bottom-left-radius: 60px;

  -webkit-border-top-right-radius: 5px;

  -webkit-border-bottom-right-radius: 5px;

}



.idcard-Table td {

  width: 40%;

}



.idcard-Table h4 {

  margin: 0px;

  padding: 0px;

}



.idcard-Table img {

  border-radius: 50%;

  width: 110px;

  height: 110px;

  border: 8px solid #FF9F98;

}



.idcard-Table .row-style {

  color: #FFFFFF;

  vertical-align: top;

  margin:0px;

  padding:0px;

}



/* IDcard Close */



/* View breadcrumb Start */

.well .breadcrumb {

  float: right;

  margin-bottom: 0px;

}

/* View breadcrumb Close */





/* Dashboard Start */



.panel > .table > tbody > tr {

  border-top: 1px solid #EEEEEE;

  height: 45px;

}



.panel > .table > tbody > tr > td {

  line-height: 22px;

}



/* Dashboard Close */



/* Library book sugation Start */



.book {

  display: none;

  z-index: 1000000;

  position: fixed;

  clear: both;

  margin: 0px;

  padding: 0px;

  border-left: 1px solid #e2e7eb;

  border-right: 1px solid #e2e7eb;

  border-bottom: 1px solid #e2e7eb;

  background-color: #fff;

  -webkit-box-shadow: -1px 3px 11px 0px rgba(42, 50, 50, 0.57);

  -moz-box-shadow:    -1px 3px 11px 0px rgba(42, 50, 50, 0.57);

  box-shadow:         -1px 3px 11px 0px rgba(42, 50, 50, 0.57);

}



.result {

  margin: 0;

  padding: 0;

  border: 0;

  list-style: none;

}



.result li {

  padding: 5px;

  border-top: 0;

  cursor: pointer;

}



.result li:hover {

  background: #e2e7eb;

  color: #555555;

}



/* Library book sugation Start */



/* Start tag border of mail and sms template */

.border {

  border: 1px solid #e2e7eb;

  padding: 1px 1px 1px 0px;

  min-height: 70px;

  max-height: auto;

}



.email_alltag {

  margin: 1px 1px 1px 0px;

}



.sms_alltag {

  margin: 1px 1px 1px 0px;

}

/* Close tag border of mail and sms template */



/* Start for Holiday and Event */

.profile-view-head-cover {

  min-height: 300px;

  background-color: #b5bbc8;

  background-attachment: fixed;

  background-size: cover;

  background-repeat: no-repeat;

  border-radius: 5px 5px 0 0;

}



.picture-left {

  width: 70px;

  height: 70px;

  background-color: #f0f3f5;

  font-size: 22px;

  text-align: center;

  color: gray;

  border-radius: 8px;

  font-weight: bold;

  line-height: 1.42857;

  letter-spacing: 3px;

  float: left;

  margin-left: 3%;

  margin-top: 263px;

  padding: 2px;

}



.picture-right {

  width: 70px;

  height: 70px;

  background-color: #f0f3f5;

  font-size: 22px;

  text-align: center;

  color: gray;

  border-radius: 8px;

  font-weight: bold;

  line-height: 1.42857;

  letter-spacing: 3px;

  float: right;

  margin-right: 3%;

  margin-top: 263px;

  padding: 2px;

}

/* Close for Holiday and Event */



/* Start Onoff Small switch */

.onoffswitch-small {

    position: relative; width: 60px;

    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}

.onoffswitch-small-checkbox {

    display: none;

}

.onoffswitch-small-label {

    display: block; overflow: hidden; cursor: pointer;

    border: 2px solid #999999; border-radius: 10px;

}

.onoffswitch-small-inner {

    display: block; width: 200%; margin-left: -100%;

    transition: margin 0.3s ease-in 0s;

}

.onoffswitch-small-inner:before, .onoffswitch-small-inner:after {

    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;

    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;

    box-sizing: border-box;

}

.onoffswitch-small-inner:before {

    content: "ON";

    padding-left: 9px;

    background-color: #34A7C1; color: #FFFFFF;

}

.onoffswitch-small-inner:after {

    content: "OFF";

    padding-right: 9px;

    background-color: #EEEEEE; color: #999999;

    text-align: right;

}

.onoffswitch-small-switch {

    display: block; width: 12px; margin: 3px;

    background: #FFFFFF;

    position: absolute; top: 0; bottom: 0;

    right: 38px;

    border: 2px solid #999999; border-radius: 10px;

    transition: all 0.3s ease-in 0s;

}

.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-inner {

    margin-left: 0;

}

.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-switch {

    right: 0px;

}
.showLoaderSubcour{
	display:none;
}
.question_button{
      padding: 2px 7px;
    background: #ff5b57;
    color: #fff;
    border-radius: 5px;
}

/* Close Onoff Small switch */

