.invisible-print {
	display: none;
}

.container-inner {
	max-width: 85%;
}

.container-padded {
	max-width: 90%;
}

.pic {
	max-width: 100px;
}
.pic1 {
	max-width: 100%;
}

.paragraph{
margin: 2px 0;
}

.print:last-child { page-break-after: auto; }

.bordered {
	border-bottom-style: solid;
}

.g1 {
	grid-template-columns: 1fr 5fr 1fr 4fr;
}
.g1_1 {
	grid-template-columns: 1fr 5fr 10fr 4fr;
}

.g2 {
	grid-template-columns: 0fr 7fr 3fr 7fr;
}

.g3 {
	grid-template-columns: 1fr 2fr 0fr 0fr;
}

.g4 {
	grid-template-columns: 0fr 14fr 44fr 0fr;
}

.g5{
	grid-template-columns: 0fr 8fr 4fr 8fr 9fr;
}
.g6 {
	grid-template-columns: 0fr 7fr 14fr 2fr 16fr;
}

.g7 {
	grid-template-columns: 0fr 7fr 21fr;
}
.g9 {
	grid-template-columns: 0fr 26fr 40fr 16fr;
}

.g8 {
	grid-template-columns: 0fr 11fr 16fr 16fr 3fr 14fr 11fr 17fr 22fr;
}
.g10 {
	grid-template-columns: 0fr 0fr 22fr 17fr 21fr;
	padding: 0 0 20px;
}
.g11 {
	grid-template-columns: 20fr 51fr 36fr 30fr;
	padding: 0 0 20px;
}
.g12 {
	grid-template-columns: 36fr 49fr 14fr 30fr;
	padding: 0 0 20px;
}
/*2nd page*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 15px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 10px;
  font-size: 14px;
  text-align: center;
}
.grid-container_1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 12px;
}
.g4_1 {
	grid-template-columns: 0fr 24fr 9fr 0fr;
	padding: 0 0 12px;
}
.g5_1 {
	grid-template-columns: 0fr 10fr 10fr 9fr 17fr;
	padding: 0 0 12px;
}
.g5_2 {
	grid-template-columns: 14fr 9fr 12fr 14fr 0fr;
	padding: 0 0 12px;
}
.g5_3{
	grid-template-columns: 25fr 25fr 21fr 30fr 17fr;
	padding: 0 0 12px;
}
.g5_4{
	grid-template-columns: 9fr 17fr 7fr 9fr 10fr;
	padding: 0 0 12px;
}
.g5_5{
	grid-template-columns: 13fr 34fr 10fr 13fr 17fr;
	padding: 0 0 12px;
}
.g5_14 {
	grid-template-columns: 0fr 27fr 16fr 12fr 18fr;
	padding: 0 0 12px;
}
.g5_14_1{
	grid-template-columns: 21fr 13fr 9fr 12fr 17fr;
	padding: 0 0 12px;
}
.g5_14_2{
	grid-template-columns: 20fr 43fr 13fr 26fr 17fr;
	padding: 0 0 12px;
}
.g5_15 {
	grid-template-columns: 0fr 10fr 14fr 0fr;
	padding: 0 0 12px;
}

