*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333;
	background-color: #fff;
}

.bold {
	font-weight: 700;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.container-inner,
.container-padded {
	max-width: 80%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: 31px;
}

.invisible {
	visibility: hidden;
}

.grid {
	display: grid;
}

.bordered {
	border-bottom: 1px dotted #333;
	margin-right: 15px;
}

.paragraph{
margin: 2px 0;
}

.centered {
	text-align: center;
}

.p-l-10 {
	padding-left: 10px;
}

.g1 {
	grid-template-columns: 1fr 5fr 0fr 4fr;
	padding: 0 0 20px;
}
.g1_1 {
	grid-template-columns: 1fr 5fr 0fr 4fr;
}

.g2 {
	grid-template-columns: 0fr 4fr 1fr 7fr;
	padding: 0 0 20px;
}

.g3 {
	grid-template-columns: 1fr 4fr 0fr 0fr;
	padding: 0 0 20px;
}

.g4 {
	grid-template-columns: 0fr 3fr 25fr 0fr;
	padding: 0 0 20px;
}

.g5 {
	grid-template-columns: 0fr 5fr 13fr 6fr 17fr;
	padding: 0 0 20px;
}
 .g6 {
	grid-template-columns: 0fr 5fr 20fr 6fr 16fr;
	padding: 0 0 20px;
}

.g7 {
	grid-template-columns: 0fr 4fr 21fr;
	padding: 0 0 20px;
}

.g9 {
	grid-template-columns: 0fr 6fr 24fr 0fr;
	padding: 0 0 20px;
}


.g8 {
	grid-template-columns: 0fr 2fr 5fr 3fr 3fr 5fr 5fr 4fr 4fr;
	padding: 0 0 20px;
}
.g10 {
	grid-template-columns: 0fr 5fr 13fr 6fr 17fr;
	padding: 0 0 20px;
}
.g11 {
	grid-template-columns: 6fr 26fr 1fr 30fr;
	padding: 0 0 20px;
}
.g12 {
	grid-template-columns: 10fr 27fr 1fr 30fr;
	padding: 0 0 20px;
}
/*2nd page*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 20px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 5px;
  font-size: 14px;
  text-align: center;
}
.grid-container_1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 20px;
}
.g4_1 {
	grid-template-columns: 0fr 24fr 25fr 0fr;
	padding: 0 0 20px;
}
.g5_1 {
	grid-template-columns: 0fr 6fr 13fr 6fr 17fr;
	padding: 0 0 20px;
}
.g5_2 {
	grid-template-columns: 24fr 38fr 22fr 30fr 17fr;
	padding: 0 0 20px;
}
.g5_3{
	grid-template-columns: 18fr 40fr 14fr 30fr 17fr;
	padding: 0 0 20px;
}
.g5_4{
	grid-template-columns: 12fr 40fr 10fr 30fr 17fr;
	padding: 0 0 20px;
}
.g5_5{
	grid-template-columns: 6fr 26fr 5fr 10fr 17fr;
	padding: 0 0 20px;
}
.g5_14 {
	grid-template-columns: 0fr 12fr 15fr 5fr 17fr;
	padding: 0 0 20px;
}
.g5_14_1{
	grid-template-columns: 24fr 40fr 10fr 30fr 17fr;
	padding: 0 0 20px;
}
.g5_14_2{
	grid-template-columns: 12fr 40fr 10fr 30fr 17fr;
	padding: 0 0 20px;
}
.g5_15 {
	grid-template-columns: 0fr 10fr 26fr 0fr;
	padding: 0 0 20px;
}
/*3rd page*/
.g5_11 {
	grid-template-columns: 3fr 21fr 5fr 24fr 18fr;
	padding: 0 0 20px;
}
.g1_1_1 {
	grid-template-columns: 0fr 3fr 0fr 4fr
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  /*padding: 10px;*/
}
.grid-item1 {
  padding: 4px;
  font-size: 14px;
  text-align: center;
}