a,
body {
    color: #6b7b84
}

#page-wrapper,
body {
    background-color: #eef5f9
}

a:hover,
body a:focus {
    color: #62748F
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64
}

h3.text-themecolor,
li.breadcrumb-item a {
    color: #0084ff
}

.sidebar-nav.navbar-collapse .nav>li>a:focus i.fa,
.sidebar-nav.navbar-collapse .nav>li>a:hover i.fa {
    color: #0084ff!important
}

.table-wrapper .pagination li.active a,
.table-wrapper .pagination li.active a.page-link {
    background: #03A9F4
}

.stepwizard .circle-button:focus,
.stepwizard .circle-button:hover,
.stepwizard a.btn.circle-button.active-wizard,
button.btn.btn-primary.nextBtn.btn-lg.pull-right {
    background: #0084ff;
    border-color: #0084ff
}

a.theme-btn,
a.theme-btn:focus,
a.theme-btn:hover,
button.theme-btn,
button.theme-btn:focus,
button.theme-btn:hover {
    background: #0084ff;
    border-color: #0084ff;
    color: #fff
}

body .hover-theme-bg:hover,
body .theme-bg,
body .theme-bg:focus {
    background: #0084ff!important
}

body .hover-theme-color:hover,
body .theme-color,
body .theme-color:focus {
    color: #0084ff!important
}

body .card-bg,
body .navbar-default.sidebar.left-side-bg {
    background: #fff
}

body .card-bg {
    border-color: #e8eef1
}

body .sidebar-nav.navbar-collapse .nav>li.active>a,
body .sidebar-nav.navbar-collapse .nav>li>a:focus,
body .sidebar-nav.navbar-collapse .nav>li>a:hover {
    background: #f2f5f7;
    border-left: 3px solid #0084ff;
    color: #0084ff;
    font-weight: 600;
}

body .navbar-top-links li ul li.external {
    background: #fff
}

body .dropdown-menu>li>a {
    color: #67757c;
    border-bottom: 1px solid #f1f6f9
}

body .open>.dropdown-toggle.btn-default {
    color: #99abb4
}

body .navbar-top-links a.dropdown-toggle,
body .navbar-top-links a.dropdown-toggle:focus,
body .navbar-top-links a.dropdown-toggle:hover {
    color: #6b7b84
}

body .sidebar-nav.navbar-collapse .nav>li>a {
    background: #fff;
    border-left: 3px solid #fff;
    color: #607d8b
}

body .dropdown-menu>li>a:focus,
body .dropdown-menu>li>a:hover {
    color: #67757c;
    background-color: #f4f8fb
}

body .footer-bg {
    background: #fff;
    border-top: 1px solid #e8eef1
}

.my-team .social-link li a,
.navbar-header {
    background: #0084ff
}

body .footer-cl {
    color: #0084ff
}

.navbar-default .navbar-brand {
    color: #fff
}

.service-box:after {
    border-bottom: 1px solid #0084ff;
    border-top: 1px solid #0084ff
}

.service-box:before {
    border-left: 1px solid #0084ff;
    border-right: 1px solid #0084ff
}

.service-box .service-content h3 a:hover {
    color: #636363
}

#accordion .panel-title a,
#accordion .panel-title a.collapsed,
#accordion .panel-title a.collapsed:before,
#accordion .panel-title a.collapsed:hover,
#accordion .panel-title a:before,
#accordion .panel-title a:hover,
#accordion .panel-title a:hover:before,
#simple-accordion .panel-title>a.collapsed:hover,
.my-team .team-prof a:hover,
.my-team .team-prof small,
.service-box:hover .service-content h3 a,
.service-box:hover .service-icon i {
    color: #0084ff
}

.service-box .read a:hover,
.service-box:hover .service-icon i {
    color: #0084ff;
    border-color: #181818
}

.simple-tab li.active,
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover {
    border-top: 3px solid #0084ff
}

.my-team .social-link li a:hover {
    background: #455a64
}

#advance-accordion .panel-title a.collapsed:before,
#advance-accordion .panel-title a:before,
#simple-accordion .panel-heading>.panel-title>a,
.advance-tab .nav-tabs>li.active>a,
.advance-tab .nav-tabs>li.active>a:focus,
.advance-tab .nav-tabs>li.active>a:hover,
.bread-tab .nav-tabs li.active>a,
.bread-tab .nav-tabs>li.active>a:focus,
.bread-tab .nav-tabs>li.active>a:hover,
.simple-tab li.active a,
.simple-tab li.active a:focus,
.simple-tab li.active a:hover {
    background: #0084ff
}

.bread-tab .nav-tabs li.active a:before {
    border-left: 17px solid #0084ff
}

.simple-tab li a:hover {
    background: #0084ff;
    border-right: 1px solid #0084ff
}

.advance-tab .nav-tabs li.active:after {
    border-top-color: #0084ff
}

.advance-tab .tab-content {
    border: 1px solid #e8edef;
    border-top: 3px solid #0084ff
}

#accordion .panel-title a {
    border-left: 3px solid #0084ff
}

#advance-accordion .panel-title a.collapsed:before {
    background: #fff
}

#simple-accordion .panel-title>a.collapsed {
    background: 0 0;
    color: #3b4556
}

#excellent-accordion .panel-title a {
    background: #0084ff
}

.card.hover-product .btn.btn-pro {
    border: 1px solid #0084ff;
    color: #0084ff
}

.card.hover-product .btn.btn-pro:focus,
.card.hover-product .btn.btn-pro:hover,
.first-style.price-table:hover .price-value {
    background: #0084ff
}

.first-style.price-table:hover .price-value:before {
    border-color: transparent #1f7bd2 #1f7bd2 transparent
}

.first-style.price-table:hover .price-value:after {
    border-color: transparent transparent #1f7bd2 #1f7bd2
}

.first-style.price-table:hover .price-table-signup {
    background: #0084ff
}

.advance-pr-table.pricing-table .pricing-table-signup:hover {
    border: 1px solid #0084ff;
    background: #0084ff
}

.active-pr-table.advance-pr-table.pricing-table .heading:after {
    border-color: #0084ff transparent transparent
}

.active-pr-table.advance-pr-table.pricing-table .pricing-table-header {
    background: #0084ff
}

.active-pr-table.advance-pr-table.pricing-table .pricing-table-header:before {
    border-color: transparent transparent #0084ff
}

.active-pr-table.advance-pr-table.pricing-table .pricing-table-header:after {
    border-color: transparent transparent transparent #0084ff
}

.active-pr.style-two.pricing-table .pricing-table-header>.price-value {
    background: #0084ff;
    box-shadow: 0 0 0 2px #0084ff
}

.style-two.pricing-table .pricing-table-sign-up>.btn-block:hover {
    background: #0084ff;
    border-color: #0084ff
}

.active-pr.style-two.pricing-table .pricing-table-sign-up>.btn-block {
    border: 1px solid #0084ff;
    background: #0084ff
}

@media (min-width:768px) {
    nav.navbar.navbar-default.navbar-static-top {
        background: #fff;
        border-color: #e8edef
    }
}