.box,

.box-main {

    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)

}



.box-main,

.box-main .my-profile {

    position: relative

}



table {

    font-size: 13px;

    color: #333!important

}



.rotate {

    transform: rotate(270deg);

    -ms-transform: rotate(270deg);

    -webkit-transform: rotate(270deg);

    padding: 0

}



.padding-reset {

    padding: 10px 0 0!important

}



.margin-reset {

    margin: 10px 0 0

}



.pd0 {

    padding: 0

}



.pd40 {

    padding: 40px 0

}



.tborder {

    border-top: 1px solid #dee2e6

}



.primary-text {

    color: red

}



.table-bordered thead td,

.table-bordered thead th {

    border-bottom-width: 1px

}



.table-bordered thead th {

    padding: 10px 20px

}



.marks {

    width: 100%

}



.marks td {

    width: 6.25%;

    border-top: 0;

    border-bottom: 0;

    border-right: 0

}



* {

    box-sizing: border-box

}



.box {

    width: 100%;

    min-height: 90px;

    display: block;

    background: #fff;

    margin-bottom: 15px;

    border: 1px solid grey;

    border-radius: 3px

}



.box-content {

    padding: 5px 10px;

    float: left

}



.box-icon,

.up_table {

    float: right

}



.box-content .box-text {

    text-transform: uppercase;

    display: block;

    font-size: 14px;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis

}



.box-content .box-number {

    display: block;

    font-weight: 700;

    font-size: 18px

}



.bg-aqua {

    background-color: #00c0ef!important;

    color: #fff

}



.bg-red {

    background: #ff6c60!important

}



.bg-yellow {

    background: #bfef38!important

}



.bg-seagreen {

    background: #38ef9b!important;

    color: #fff

}



.border-red {

    border-top: 3px solid #dd4b39!important

}



.border-yellow {

    border-top: 3px solid #f39c12!important

}



.border-green {

    border-top: 3px solid #00a65a!important

}



.border-brightyellow {

    border-top: 3px solid #e1e2d3!important

}



.border-blue {

    border-top: 3px solid #00c0ef!important

}



.btn-view {

    background-color: #dd4b39

}



.mgb5 {

    margin-bottom: 5px

}



.pdt0 {

    padding-top: 0!important

}



.box-icon {

    display: block;

    height: 90px;

    width: 90px;

    text-align: center;

    font-size: 45px;

    line-height: 90px;

    background: rgba(0, 0, 0, .2);

    border-radius: 2px 0 0 2px

}



.profile-head {

    text-align: center

}



.profile-head-content img {

    width: 100px;

    height: 100px

}



.profile-head-content p strong {

    font-size: 18px

}



.box-icon img {

    width: 42px;

    height: 45px;

    vertical-align: inherit

}



.box-main {

    border-radius: 3px;

    background: #fff;

    border-top: 3px solid #d2d6de;

    margin-bottom: 20px;

    width: 100%;

    height: 440px

}
.box-main1 {

    border-radius: 3px;

    background: #fff;

    border-top: 3px solid #d2d6de;

    margin-bottom: 20px;

    width: 100%;

    height: 410px

}

.box_rau{

    height: 410px;

}

.box-main .box-main-header {

    color: #444;

    display: block;

    padding: 10px

}
.box-main1 .box-main-header {

    color: #444;

    display: block;

    padding: 10px

}
.box-main1 .box-main-header h3 {

    font-size: 18px;

    margin: 0;

    line-height: 1;

    font-weight: 700

}

.box-main .box-main-header h3 {

    font-size: 18px;

    margin: 0;

    line-height: 1;

    font-weight: 700

}



.bold_td {

    font-weight: 700

}



.box-main .box-main-body {

    border-top: 1px solid rgba(0, 0, 0, .2);

    height: auto;

    border-radius: 0 0 3px 3px

}



.box-main .daily-thought {

    background: #f5b14c;

    height: 370px;

    border-bottom-left-radius: 3px;

    border-bottom-right-radius: 3px;

    font-size: 16px;

    color: white;

    text-align: center;

    padding: 20px 10px;

    display: table-cell;

    vertical-align: middle

}



.box-main-body .daily-weather {

    background: #1f567c;

    width: 100%;

    height: 100%;

    min-height: 370px

}



.box-main-body .digital-library {

    background: #333;

    width: 100%;

    height: 100%;

        margin-bottom: 20px;
    min-height: 398px;
    border-radius: 3px;

}



.box-main-body .digital-library a {

    color: #fff;

    font-weight: 700;

    text-decoration: none;

    font-size: 16px;

    display: block;

    text-align: center;

    padding: 20px 0 

}



.box-main-body .digital-library a:hover {

    text-decoration: underline;

    color: #f9f3f3;

    transition: all 2s ease-in-out

}



.box-main-body .digital-library a img {

    width: 92%;

    height: 210px;

    margin: 10px

}



.box-main-body .profile-head {

    padding: 10px

}



.box-main-body .profile-body {

    padding: 0 15px

}



.box-main-body .profile-head img {

    -webkit-border-radius: 50%;

    border: 5px solid #dd4b39;

    display: inline-block

}



.box-main-body .profile-head .profile-head-content {

    display: inline-block;

    margin: 10px

}



.box-main-body .profile-head .profile-head-content p {

    padding: 10px 0 0 10px;

    margin: 0;

    font-weight: 700

}



.box-main-body .profile-body h2 {

    font-size: 18px;

    text-align: center;

    font-weight: 700;

    margin-bottom: 0

}



.box-main-body .profile-body hr {

    margin: 4px 0 14px

}



.box-main-body .fading {

    max-height: 180px;

    overflow: hidden;

    text-overflow: ellipsis;

    content: "";

    position: relative

}



.box-main-body .fading table {

    width: 50%

}



.width40 {

    width: 40%!important

}



.box-main-body .fading:before {

    content: '';

    width: 100%;

    height: 100%;

    position: absolute;

    left: 0;

    top: 0;

    background: linear-gradient(transparent 150px, #fff)

}



.box-main .box-main-footer {

    padding: 0 10px;

    display: block;

    width: 100px;

    position: absolute;

    bottom: 0;

    right: 0;

    margin: 10px 0;

    border-radius: 0 0 3px 3px

}



.box-main .box-main-footer a {

    color: #fff

}



.rainbow {

    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(.15, #f2f), color-stop(.3, #22f), color-stop(.45, #f22), color-stop(.6, #ff2269), color-stop(.75, #be22ff), color-stop(.9, #3022ff), color-stop(1, #f22));

    color: transparent;

    -webkit-background-clip: text;

    background-clip: text

}



.table-display {

    display: table;

    width: 100%;

    height: 100%

}



.text-left {

    text-align: left!important

}



.showLoaderSubcour {

    display: none

}



.appClassDelete {

    padding: 3px 15px;

    background: #00acac;

    color: #fff

}



.result {

    padding: 16px

}



.table>thead:first-child>tr:first-child>th {

    background: #3c8dbc;

    font-size: 13px;

    font-weight: 700

}



.profile1{

    width: 50%;

    float: left;

    margin-bottom: 10px;

    padding: 0 15px;

    font-size: 14px;

    padding: 10px;

}



.bold1{

    font-weight: bold;

}



.stable_img img {

    border-radius: 50%;

    width: 42px;

    height: 42px;

    border: 4px solid #ddd;

    margin: auto

}



.certifixa {

    width: 61%;

    margin-top: 12px

}







.tooltip {

  position: relative;

  display: inline-block;

  border-bottom: 1px dotted black;

}



.tooltip .tooltiptext {

  visibility: hidden;

  width: 120px;

  background-color: #555;

  color: #fff;

  text-align: center;

  border-radius: 6px;

  padding: 5px 0;

  position: absolute;

  z-index: 1;

  bottom: 125%;

  left: 50%;

  margin-left: -60px;

  opacity: 0;

  transition: opacity 0.3s;

}



.tooltip .tooltiptext::after {

  content: "";

  position: absolute;

  top: 100%;

  left: 50%;

  margin-left: -5px;

  border-width: 5px;

  border-style: solid;

  border-color: #555 transparent transparent transparent;

}



.tooltip:hover .tooltiptext {

  visibility: visible;

  opacity: 1;

}