.ui {
  /*margin: 10px auto;*/
  float: right;
  width: 100%;
  /*height: 1000px;*/
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 25px #3a9fc4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.ui .search input {
  outline: none;
  border: none;
  background: none;
}
.ui .search {
  position: relative;
}
.ui .search input[type=submit] {
  font-family: 'FontAwesome';
  position: absolute;
  right: 25px;
  top: 27px;
  color: white;
}
.ui .search input[type=search] {
  background-color: #696c75;
  border-radius: 3px;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  margin: 15px 10px;
  color: #fff;
}
.ui .left-menu {
  width: 29%;
  box-sizing: content-box;
  padding-right: 1%;
  height: 100%;
  background: #434753;
}
.ui .chat {
  width: 100%;
  height: 100%;
  background: #f1f5f8;
}
.ui .chat .info {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  vertical-align: 40px;
  width: calc(100% - 65px - 50px);
}
.ui .chat .info .name {
  font-weight: 600;
  color: #434753;
  height: 50%;
}
.ui .chat .info .count {
  color: #6d738d;
}
.ui .chat i.fa {
  color: #d6d9de;
  vertical-align: 25px;
}
.ui .avatar > img,
.ui .list-friends img {
  border-radius: 50%;
  border: 3px solid #696c75;
}
.ui .list-friends {
  list-style: none;
  font-size: 13px;
  height: 88%;
}
.ui .list-friends img {
  margin: 5px;
}
.ui .list-friends > li {
  display: -webkit-box;
  display: flex;
  margin: 0 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui .list-friends .info {
  -webkit-box-flex: 1;
          flex: 1;
}
.ui .list-friends .user {
  color: #fff;
  margin-top: 12px;
}
.ui .list-friends .status {
  position: relative;
  margin-left: 14px;
  color: #a8adb3;
}
.ui .list-friends .off:after,
.ui .list-friends .on:after {
  content: '';
  left: -12px;
  top: 8px;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}
.ui .list-friends .off:after {
  background: #fd8064;
}
.ui .list-friends .on:after {
  background: #62bf6e;
}
.ui .top {
  height: 50px;
}
.ui .messages {
  height: 380px;
  list-style: none;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
  overflow: auto;
}
.ui .messages li {
  margin: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ui .messages li:after {
  content: '';
  clear: both;
  display: block;
}
.ui .messages li .head {
  font-size: 10px;
}
.ui .messages li .name {
  font-weight: 600;
  /*position: relative;*/
}
.ui .messages li .name:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 6px;
}
.ui .messages li .time {
  color: #b7bccf;
    margin-left: -60px;
    font-size: 10px;
}
.ui .messages li .name {
  color: #b7bccf;
}
.ui .messages li .message {
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  padding: 5px;
  line-height: 25px;
  max-width: 500px;
  word-wrap: break-word;
  position: relative;
}
.ui .messages li .message:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: -12px;
  border-bottom: 12px solid #62bf6e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.ui .messages li.friend-with-a-SVAGina .name {
  margin-left: 20px;
}
.ui .messages li.friend-with-a-SVAGina .name:after {
  background-color: #62bf6e;
  left: -20px;
  top: 6px;
}
.ui .messages li.friend-with-a-SVAGina .message {
  background-color: #62bf6e;
  float: left;
}
.ui .messages li.friend-with-a-SVAGina .message:before {
  left: 16px;
  border-bottom-color: #62bf6e;
}
.ui .messages li.i .head {
  text-align: right;
}
.ui .messages li.i .name {
  margin-right: -100px;
}
.ui .messages li.i .name:after {
  background-color: #7bc4ef;
  right: -20px;
  top: 6px;
}
.ui .messages li.i .message {
  background-color: #7bc4ef;
  float: right;
}
.ui .messages li.i .message:before {
  right: 16px;
  border-bottom-color: #7bc4ef;
}
.ui .write-form {
  height: 80px;
}
.ui .write-form textarea {
  /*height: 75px;
  margin: 17px 5%;*/
  width: 90%;
  outline: none;
  /*padding: 15px;*/
  border: none;
  border-radius: 3px;
  resize: none;
}
.ui .write-form textarea:before {
  content: '';
  clear: both;
}
.ui .avatar > img {
  border-color: #62bf6e;
  margin: 10px;
  margin-right: 5px;
}
.ui .avatar {
  display: inline-block;
}
.ui .send {
  color: #7ac5ef;
  text-transform: uppercase;
  font-weight: 700;
  float: right;
  margin-right: 5%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui i.fa-file-o {
  margin-left: 15px;
}
.ui i.fa-picture-o {
  margin-left: 5%;
}

.activestudent{
  padding: 8px;
    background: green;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.data{
  width: 30%;
    padding: 10px;
    border: 1px solid;
    position: relative;
    float: left;
}
.name-user{
  float: left;
  padding: 8px;
}
.datap{
  padding: 8px;
}