		<div class="container-fluid">
			<div class="row">
				<div class="">
					<div class="card" style="color: #000;">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-1 col-xs-1">
										<img src="https://www.e-campus.in/newciitmdev/assets/img/itmlogoprint.png">
									</div>
									<div class="col-md-11 col-xs-11">
										<h4 style="text-align: center;font-weight: 600">Institute of Technology & Management</h4>
										<p style="text-align: center;">(Deemed to be university, Approval t1i5 3 of UGC Act 1950)</p>
										<h4 style="text-align: center;font-weight: 600;">MARKS STATEMENT</h4>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-6 col-xs-6" style="padding: 5px;"><span style="font-weight: 600;">program:</span> <span>engineering</span>
									</div>
									<div class="col-md-6 col-xs-6" style="padding: 5px;"><span style="font-weight: 600;">Regn.No:</span> <span>2214552</span>
									</div>

									<div class="col-md-6 col-xs-6" style="padding: 5px;"><span style="font-weight: 600;">Stream:</span> <span>computer Science & enginerring</span>
									</div>
									<div class="col-md-6 col-xs-6" style="padding: 5px;"><span style="font-weight: 600;">Session:</span> <span>2018-2020</span>
									</div>

									<div class="col-md-12 col-sm-12" style="padding: 5px;"><span style="font-weight: 600;">Name:</span> <span>Rakesk Kumar</span>
									</div>

									<div class="col-md-12 col-sm-12" style="padding: 5px;"><span style="font-weight: 600;">father name:</span> <span>dummy name</span>
									</div>

									<div class="col-md-12" style="padding: 5px;"><span style="font-weight: 600;">Mother name:</span> <span>dummy name</span>
									</div>
									
								</div>
							</div>
							<div class="table-responsive"> 
								<div class="table-responsive"> 
									<div class="table-responsive"> 
										<table class="table">
											<thead>
												<tr>
													<th style="font-weight: 600;">S.No.</th>
													<th style="font-weight: 600;">paper code</th>
													<th style="font-weight: 600;">paper Name</th>
													<th style="font-weight: 600;">Full Marks</th>
													<th style="font-weight: 600;">Aggregate</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>BSC-201</td>
													<td>Mathematics-3</td>
													<td>4</td>
													<td>O</td>
										
													
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td>2</td>
													<td>CS-201 C</td>
													<td>Data science & algorithms</td>
													<td>4</td>
													<td>F</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>Total Credits</td>
													<td>21</td>
													<td>SGPA: 4.81</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>Credits eraned</td>
													<td>11</td>
													<td></td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
								</table>
								<div class="col-md-12">
									<div class="col-md-4 col-xs-4" style="padding: 5px;"><span style="font-weight: 600;">Aggregate:</span> <span>21</span>
									</div>
									<div class="col-md-4 col-xs-4" style="padding: 5px;"><span style="font-weight: 600;">Aggregate eraned(CUMULATIVE):</span> <span>11</span>
									</div>

									<div class="col-md-4 col-xs-4" style="padding: 5px;"><span style="font-weight: 600;">CGPA:</span> <span>5.88</span>
									</div>
									<div class="col-md-12" style="padding: 5px;"><span style="font-weight: 600;">Date of Issu:</span> <span>06/04/2020</span>
									</div>

									
									
								</div>
							</div>

						</div>

					</div>
					<!-- ./Striped Table -->

				</div>
			</div>
			<!-- /row -->
		</div>	
	</div>