 .login{
background-image:url('../images/bg.jpg');
 background-size:     cover;                      
    background-repeat:   no-repeat;
    
}

.container{
	padding:5px;
}

img{
	
	border:0px;
	}
	
	
	.question_container{
		
		padding:4px;
		height:35%;
		overflow-y:auto;
		 
	}
	.option_container{
		
		padding:4px;
		height:35%;
		overflow-y:auto;
		 
	}
	.op{
		
		padding:4px;
	}
	
	.question_div{
		
		display:none;
		border-top:1px solid #dddddd;
	}
	
	.footer_buttons{
		
		position: fixed;
		bottom: 0px;
		background: #ffffff;
		width: 100%;
		padding: 4px;
		border-top: 1px solid #dddddd;
	
	}
	
	
	.qbtn{
		cursor: pointer;
		width: 30px;
		height: 30px;
		background-color: #f3f3f3;
		color: #333;
		float: left;
		font-size: 12px;
		padding: 5px;
		text-align: center;
		margin: 5px;
		border: 1px solid #ddd;
		border-radius: 25px;
	}
	
	
	.save_answer_signal{
		
		float:right; 
		width:6px;
		height:6px;
		border-radius:2px;
		background-color:#666666;
		 margin:2px;
		
	}
	
	
	
	
 #photograph{
	 
	 width:150px;
	 height:150px;
 }

 


/* liveclassroom */


.arrow_box {
	position: relative;
	background: #d50f29;
	border: 0px solid #f5e131;
	border-radius:3px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 15, 41, 0);
	border-bottom-color: #d50f29;
	border-width: 10px;
	margin-left: -5px;
}



.class_text_board{
width:650px;
height:500px;
float:left;

}
.class_comment_board{
width:300px;
height:470px;
border-radius:10px;
float:right;
padding:5px;
border:1px groove #eee;
}
#comment_box{
width:290px;
height:400px;
overflow-y:scroll;
padding:5px;
}

#username_comment{
color:#666666;
font-size:11px;
}
#comment_send{

    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 275px; 
 

}
.class_heading{
width:650px;
height:35px;
background:#212121;
font-size:14px;
color:#ffffff;
padding: 5px 25px 0px;
border-radius:8px 8px 0px 0px;
}

#page::after{
content: ' ';
position: absolute;
width: 0px;
height:100%;
top: 0;
left: 20px;
border-left: 1px solid #F8D3D3;
}
#page {
width:650px;
height:400px;
overflow-y:scroll;
line-height: 30px;
font-size: 14px;
padding: 5px 25px 27px;
position: relative;
outline: none;
background: white;
background: -webkit-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
background: -moz-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
background: linear-gradient(center top, #dfe8ec 0%, #ffffff 8%) 0 0px;
-webkit-background-size: 100% 30px;
-moz-background-size: 100% 30px;
-ms-background-size: 100% 30px;
background-size: 100% 30px;
}


#page_res{
float:right;
color:#666666;
font-size:12px;
}
.div_exp_corr{
background:#E0FFE0;
display:none;
}
.div_exp_wrong{
background:#FF9D9D;
display:none;
}



#stat_box{
width:210px;
height:100px;
border:0px solid #dddddd;
float:left;
margin-left:20px;
}
#stat_head{
width:210px;
height:30px;
background:#ec5c0d;
font-family:arial;
font-size:16px;
color:#ffffff;
text-align:center;
padding:4px 0px 0px 0px;
border-radius:4px 4px 0px 0px;
}

#stat_val{
width:210px;
height:66px;
background:#eeeeee;
font-family:arial;
font-size:40px;
color:#212121;
text-align:center;
padding:4px 0px 0px 0px;
border-radius:0px 0px 4px 4px;
}



.op_style{
background:#eeeeee;
padding:4px;
margin:5px;
border:1px solid #dddddd;

}


.font-size-34 {
    font-size: 34px !important;
}
.font-weight-light {
    font-weight: 300 !important;
}
strong {
    font-weight: 700;
    color:#666666;
}
.revenuew{
background-color: #F5FBFC;
margin:5px;
padding:5px;
}
.navbar-default .navbar-brand{

color:#ffffff;
}

.navbar-default {
    background-color: #3D4A5D;
    border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family:'arial';
    font-size:14px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    font-family:'arial';
    font-size:14px;
}


.panel, .widget-more-link.b-a-1, .widget-products-image, :not(.panel) .thumbnail {
    border-color: #E0E0E0;
}

.panel-heading {
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    background: none repeat scroll 0% 0% #FAFAFA;
}

















    .page-signin-modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
      display: block;
    }

    .page-signin-form-group { position: relative; }

    .page-signin-icon {
      position: absolute;
      line-height: 21px;
      width: 36px;
      border-color: rgba(0, 0, 0, .14);
      border-right-width: 1px;
      border-right-style: solid;
      left: 1px;
      top: 9px;
      text-align: center;
      font-size: 15px;
    }

    html[dir="rtl"] .page-signin-icon {
      border-right: 0;
      border-left-width: 1px;
      border-left-style: solid;
      left: auto;
      right: 1px;
    }

    html:not([dir="rtl"]) .page-signin-icon + .page-signin-form-control { padding-left: 50px; }
    html[dir="rtl"] .page-signin-icon + .page-signin-form-control { padding-right: 50px; }

    #page-signin-forgot-form {
      display: none;
    }

    /* Margins */

    .page-signin-modal > .modal-dialog { margin: 30px 10px; }

    @media (min-width: 544px) {
      .page-signin-modal > .modal-dialog { margin: 60px auto; }
    }
  
  	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
		position: absolute;
		left: -9999px;
	}

	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label
	{
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #333;
	}

	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #333;
		border-radius: 100%;
		background: #fff;
	}

	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after {
		content: '';
		width: 12px;
		height: 12px;
		background: #4e5f59;
		position: absolute;
		top: 3px;
		left: 3px;
		border-radius: 100%;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	[type="radio"]:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	[type="radio"]:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.quiz {
		height: 100%;
		position: relative;
	}

	.top-header {
		box-shadow: 0px 5px 5px lightgrey;
	}

	.top-header .content{
		text-align: center;
		margin: 8px 0;
		overflow: hidden;
	}

	.top-header .content p{
		font-size: 16px;
		margin: 0 0 5px 0;
	}

	/*Questionaire Styling*/
	.questionaire {
		padding: 40px 20px;
	}

	.questionaire .question {
		font-size: 20px;
	}

	.questionaire .question span {
		margin-right: 20px;
	}

	.questionaire .answer {
		border: 1px solid  #333;
		padding: 20px;
		margin: 20px 20px 0 40px;
	}


	/*Questions Guidelines and status styling*/
	.questions_guidelines {
		background: #f3f3f3;
		padding: 20px;
		height: 488px;
		position: absolute;
		max-height: 803px;
		top: -3px;
		right: 0;
	}

	.guidelines p {
		position: relative;
	}

	.guidelines p::before {
		position: absolute;
		content: '';
		width: 15px;
		height: 15px;
		top: 2px;	
	}

	.guidelines .completed::before {
		background: #56d456;
	}

	.guidelines .not-completed::before {
		background: #d45662;
	}

	.guidelines .in-process::before {
		background: #d4a256;
	}

	.guidelines .not-attempted::before {
		background: #333;
	}

	.guidelines p span {
		margin-left: 20px;	
	}

	/* Button Styling */
	.buttons {
		margin: 20px 20px 0 20px;
		text-align: right;
	}

	.buttons button {
		margin-left: 10px;
		background: #d45662;
		border-color: #d45662;
		color: white;
		width: 100px;
		height: 30px;
		font-weight: 700;
	}
