table {
/*	text-align: center;*/
	font-size: 14px;
}

.rotate {
	transform: rotate(270deg);
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg);
    padding: 0;
}

.padding-reset {
	padding: 10px 0 0 !important;
}

.margin-reset {
	margin: 10px 0 0;
}

.pd0 {
	padding: 0;
}

.pd40 {
	padding: 40px 0;
}

.tborder {
	border-top: 1px solid #dee2e6;
}

.primary-text {
	color: red;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}

.table-bordered thead th {
	padding: 10px 20px;
}

.marks {
	width: 100%;
}

.marks td {
	width: 6.25%;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
}
* {
			box-sizing: border-box;
		}
		.box {
			width: 100%;
			min-height: 90px;
			display: block;
			background: #fff;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			margin-bottom: 15px;
			border: 1px solid grey;
			border-radius: 3px;
		}
		.box-content {
			padding: 5px 10px;
			float: left;
		}
		.box-content .box-text {
			text-transform: uppercase;
			display: block;
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.box-content .box-number {
			display: block;
			font-weight: bold;
			font-size: 18px;
		}
		.bg-aqua {
			background-color: #00c0ef !important;
			color: white;
		}
		.bg-red {
			background: #ff6c60 !important;
		}
		.bg-yellow {
			background: #bfef38 !important;
		}
		.bg-seagreen {
			background: #38ef9b !important;
			color: white;
		}
		.border-red {
			border-top: 3px solid #dd4b39 !important;
		}
		.border-yellow {
			border-top: 3px solid #f39c12 !important;
		}
		.border-green {
			border-top: 3px solid #00a65a !important;
		}
		.border-brightyellow {
			border-top: 3px solid #e8f704 !important;
		}
		.border-blue {
			border-top: 3px solid #00c0ef !important;
		}
		.btn-view {
			background-color: #dd4b39;
		}
		.mgb5 {
			margin-bottom: 5px;
		}
		.pdt0 {
			padding-top: 0 !important;
		}
		.box-icon {
			border-top-left-radius: 2px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 2px;
			display: block;
			float: right;
			height: 90px;
			width: 90px;
			text-align: center;
			font-size: 45px;
			line-height: 90px;
			background: rgba(0,0,0,0.2);
		}
		.box-icon img {
			width: 42px;
			height: 45px;
			vertical-align: inherit;
		}
		.box-main {
			border-radius: 3px;
			background: #ffffff;
			border-top: 3px solid #d2d6de;
			margin-bottom: 20px;
			width: 100%;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			height: 376px;
			position: relative;
		}
		.box-main .box-main-header {
			color: #444;
			display: block;
			padding: 10px;
		}
		.box-main .box-main-header h3 {
			font-size: 18px;
			margin: 0;
			line-height: 1;
		}
		.box-main .box-main-body {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			border-top: 1px solid rgba(0,0,0,0.2);
			height: auto;
		}
		.box-main .daily-thought {
			background: #e8f704;
			height: 312px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px; 
			font-size: 16px;
			text-align: center;
			padding: 20px 10px;
			display: table-cell;
			vertical-align: middle;
		}
		.box-main-body .daily-weather {
			background: #00c0ef;
			width: 100%;
			height: 100%;
			min-height: 312px;
		}
		.box-main-body .digital-library {
			background: #00a65a;
			width: 100%;
			height: 100%;
			min-height: 312px;
		}
		.box-main-body .digital-library a {
			color: white;
			font-weight: bold;
			text-decoration: none;
			font-size: 16px;
			display: block;
			text-align: center;
			padding: 40px 0 0;
		}
		.box-main-body .digital-library a:hover {
			text-decoration: underline;
			color: #f9f3f3;
			transition: all 2s ease-in-out;
		}
		.box-main-body .digital-library a img {
			width: 92%;
			height: 210px;
			margin: 10px;
		}
		.box-main .my-profile {
			position: relative;
		}
		.box-main-body .profile-head {
			padding: 10px;
		}
		.box-main-body .profile-body {
			padding: 0 15px;
		} 
		.box-main-body .profile-head img {
			-webkit-border-radius: 50%;
			border: 5px solid rgb(221, 75, 57);
			display: inline-block;
		}
		.box-main-body .profile-head .profile-head-content {
			display: inline-block;
			margin: 10px;
		}
		.box-main-body .profile-head .profile-head-content p {
			padding: 10px 0 0 10px;
			margin: 0;
		}
		.box-main-body .profile-body h2 {
			font-size: 18px;
		}
		.box-main-body .fading {
			max-height:180px;
			overflow:hidden;
			text-overflow: ellipsis;
			content: "";
			position:relative;
		}
		.box-main-body .fading table {			
			width: 50%;
		}
		.width40 {
			width: 40% !important;
		}
		.box-main-body .fading:before{
			content:'';
			width:100%;
			height:100%;    
			position:absolute;
			left:0;
			top:0;
			background:linear-gradient(transparent 150px, white);
		}
		.box-main .box-main-footer {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			padding:0 10px;
			margin: 0 auto;
			display: block;
			width: 100px;
			position: absolute;
			bottom: 0;
			right:0;
			margin:10px 0;
		}
		.box-main .box-main-footer a {
			color: white;
		}
		.rainbow {
			background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #f22), color-stop(0.6, #ff2269),color-stop(0.75, #be22ff), color-stop(0.9, #3022ff), color-stop(1, #f22) );
			background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #f22), color-stop(0.6, #ff2269),color-stop(0.75, #be22ff), color-stop(0.9, #3022ff), color-stop(1, #f22) );
			color:transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
		.table-display {
			display: table;
			width: 100%;
			height: 100%;
		}
		.text-left {
			text-align: left !important;
		}