.categorie-item {
    margin-bottom: 34px;
    background: #edf4f6;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
}
  .categorie-item .ci-thumb {
    background-size: cover;
    height: 148px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.categorie-item .ci-text {
    padding: 40px 35px;
}
.categorie-item:hover {
    background: #42a5f5;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    color: #474747;
}
.categorie-item .ci-text span {
    font-size: 18px;
    font-weight: 600;
    color: #42a5f5;
}
.categorie-item:hover .ci-text span {
    color: #fff;
}
.categorie-item:hover .ci-text h5, .categorie-item:hover .ci-text p, .categorie-item:hover .ci-text span {
    color: #fff;
}
.categorie-item .ci-text h5 {
    margin-bottom: 5px;
}
h5 {
    font-size: 20px;
}
p {
    font-size: 14.1px;
    color: #878787;
    /* line-height: 2.2; */
    font-weight: 500;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    background: #3c8dbc;
}
.modal-title{
	color: #fff;
}
.modal-dialog {
    width: 78%;
}
.modal-footer .btn{
	background: #3c8dbc;
    color: #fff;
}
.close{
  color: #fff !important;
  opacity: 1 !important;	
}