html, body {
	min-height: auto% !important;
	height: 100% !important;
}

.heading1{
	padding-left: 50px;
	margin-top: 16px;
}

.left-section {
	width: 50%;
}

.login{
	background-image:url('../images/bg.jpg');
	background-size: cover;                      
	background-repeat: no-repeat;
 }

.container_summary{
	padding:5px;
	margin-left: 18px;
	margin-top: 10px;
	overflow: hidden;
	box-shadow: 0px 1px 10px 3px #ccc;
}

img{
	border:0px;
}
	
.question_container .question{
	color: black;
	font-size: 18px;
	/*padding:4px;
	height:35%;
	overflow-y:auto;
	box-shadow: 0px 1px 10px 3px #ccc;
	background: #f3f3f3;
	margin-left: 15px;*/
}

.option_container{
	padding:4px;
	height:35%;
	overflow-y:auto;
}

.op{
	padding:4px;
}

.question_div{
	display:none;
	/*border-top:1px solid #dddddd;*/
}
	
.footer_buttons{
	position: fixed;
	bottom: 0px;
	background: #ffffff;
	width: 100%;
	padding: 4px;
	border-top: 1px solid #dddddd;
}
	
.qbtn{
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #777;
	color: #333;
	float: left;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	margin: 5px;
	border: 1px solid #ddd;
	/*border-radius: 25px;*/
}
	
.save_answer_signal{
		
	float:right; 
	width:6px;
	height:6px;
	border-radius:2px;
	background-color:#666666;
	margin:2px;
}
	
#photograph{
	width:150px;
	height:150px;
}

/* liveclassroom */

.arrow_box {
	position: relative;
	background: #d50f29;
	border: 0px solid #f5e131;
	border-radius:3px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 15, 41, 0);
	border-bottom-color: #d50f29;
	border-width: 10px;
	margin-left: -5px;
}

.class_text_board{
	width:650px;
	height:500px;
	float:left;
}

.class_comment_board{
	width:300px;
	height:470px;
	border-radius:10px;
	float:right;
	padding:5px;
	border:1px groove #eee;
}
#comment_box{
	width:290px;
	height:400px;
	overflow-y:scroll;
	padding:5px;
}

#username_comment{
	color:#666666;
	font-size:11px;
}

#comment_send{
	background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 275px; 
}

.class_heading{
	width:650px;
	height:35px;
	background:#212121;
	font-size:14px;
	color:#ffffff;
	padding: 5px 25px 0px;
	border-radius:8px 8px 0px 0px;
}

#page::after{
	content: ' ';
	position: absolute;
	width: 0px;
	height:100%;
	top: 0;
	left: 20px;
	border-left: 1px solid #F8D3D3;
}

#page {
	width:650px;
	height:400px;
	overflow-y:scroll;
	line-height: 30px;
	font-size: 14px;
	padding: 5px 25px 27px;
	position: relative;
	outline: none;
	background: white;
	background: -webkit-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
	background: -moz-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
	background: linear-gradient(center top, #dfe8ec 0%, #ffffff 8%) 0 0px;
	-webkit-background-size: 100% 30px;
	-moz-background-size: 100% 30px;
	-ms-background-size: 100% 30px;
	background-size: 100% 30px;
}

#page_res{
	float:right;
	color:#666666;
	font-size:12px;
}

.div_exp_corr{
	background:#E0FFE0;
	display:none;
}

.div_exp_wrong{
	background:#FF9D9D;
	display:none;
}

#stat_box{
	width:210px;
	height:100px;
	border:0px solid #dddddd;
	float:left;
	margin-left:20px;
}

#stat_head{
	width:210px;
	height:30px;
	background:#ec5c0d;
	font-family:arial;
	font-size:16px;
	color:#ffffff;
	text-align:center;
	padding:4px 0px 0px 0px;
	border-radius:4px 4px 0px 0px;
}

#stat_val{
	width:210px;
	height:66px;
	background:#eeeeee;
	font-family:arial;
	font-size:40px;
	color:#212121;
	text-align:center;
	padding:4px 0px 0px 0px;
	border-radius:0px 0px 4px 4px;
}

.op_style{
	background:#eeeeee;
	padding:4px;
	margin:5px;
	border:1px solid #dddddd;

}

.font-size-34 {
    font-size: 34px !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

strong {
    font-weight: 700;
    /*color:#fff;*/
    /*color:#674848;*/
}

.revenuew{
	background-color: #F5FBFC;
	margin:5px;
	padding:5px;
}
.navbar-default .navbar-brand{
	color:#ffffff;
}

.navbar-default {
    background-color: #3D4A5D;
    border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family:'arial';
    font-size:14px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    font-family:'arial';
    font-size:14px;
}


.panel, .widget-more-link.b-a-1, .widget-products-image, :not(.panel) .thumbnail {
    border-color: #E0E0E0;
}

.panel-heading {
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    background: none repeat scroll 0% 0% #FAFAFA;
}

.page-signin-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
    }

.page-signin-form-group { 
	position: relative; 
}

.page-signin-icon {
    position: absolute;
    line-height: 21px;
    width: 36px;
    border-color: rgba(0, 0, 0, .14);
    border-right-width: 1px;
    border-right-style: solid;
    left: 1px;
    top: 9px;
    text-align: center;
    font-size: 15px;
}

html[dir="rtl"] .page-signin-icon {
    border-right: 0;
    border-left-width: 1px;
    border-left-style: solid;
    left: auto;
    right: 1px;
}

html:not([dir="rtl"]) .page-signin-icon + .page-signin-form-control { padding-left: 50px; 
}

html[dir="rtl"] .page-signin-icon + .page-signin-form-control { padding-right: 50px; 
}

#page-signin-forgot-form {
    display: none;
}

/* Margins */

.page-signin-modal > .modal-dialog { margin: 30px 10px; }

	@media (min-width: 544px) {
      .page-signin-modal > .modal-dialog { margin: 60px auto; }
}
  
  	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
		position: absolute;
		left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #333;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 4px;
	top: 3px;
	width: 14px;
	height: 14px;
	border: 1px solid #333;
	border-radius: 100%;
	background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #4e5f59;
	position: absolute;
	top: 5px;
	left: 6px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.quiz {
	height: 100%;
	position: relative;
}

.top-header {
	box-shadow: 0px 5px 5px lightgrey;
}

.content{
	padding: 0px !important;
	height: 90% !important;
	overflow: hidden;
}

.top-header .content{
	text-align: center;
	margin: 8px 0;
	overflow: hidden;
}

.top-header .content p{
	font-size: 16px;
    color: #fff;
    font-weight: bold;
	margin: 0 0 5px 0;
}

	/*Questionaire Styling*/
.questionaire,
.container_summary {
	padding: 25px;
	height:35%;
	overflow-y:auto;
	box-shadow: 0px 1px 10px 3px #eee;
    background: #fff;
	margin: 26px 10px;
}

.shadow-div {
	box-shadow: 0px 1px 10px 3px #ccc;
	margin-bottom: 40%;
	background-color: #fff;
	box-shadow: 0px 1px 10px 3px #eee !important;
	margin: 26px 10px !important;
	padding: 15px 25px 0 25px;
}

.questionaire .examButton {
	padding: 30px 0 0;
	width: 100%;
	text-align: center;
}

.questionaire .examButton button {
	width: 18%;
	height: 30px;
	position: relative;
}

.questionaire .examButton button:hover{
    color: #3c8dbc !important;
    background: #fff !important;;
    border: 1px solid #3c8dbc !important;
}

.questionaire .fa-angle-right:before {
	position: absolute;
	right: 32px;
}

.questionaire .fa-angle-left:before {
	position: absolute;
	left: 22px;
}

.questionaire h4 ,
.container_summary h4,
.shadow-div h4 {
	font-size: 17px;
	border-bottom: 1px solid #efefef;
}

.questionaire .question span {
	margin-right: 20px;
}

.questionaire .answer {
	/*border: 1px solid  #333;*/
	padding: 0px 38px;
}

.questionaire .answer p {
	margin: 0;
}


/*Questions Guidelines and status styling*/
.questions_guidelines {
	background: #fff;
	/*padding: 20px;
	height: 488px;
	max-height: 803px;
	top: -3px;
	right: 0;
	margin-right: 15px;*/
	position: relative;
}

.guidelines p {
	position: relative;
	}

.guidelines p::before {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	top: 2px;	
}

.guidelines .completed::before {
	background: #56d456;
}

.guidelines .not-completed::before {
	background: #d45662;
}

.guidelines .in-process::before {
	background: #d4a256;
}

.guidelines .not-attempted::before {
	background: #333;
}

.guidelines p span {
	margin-left: 20px;	
}

	/* Button Styling */
.buttons {
	margin: 20px 20px 0 20px;
	text-align: right;
}

.buttons button {
	margin-left: 10px;
	background: #d45662;
	border-color: #d45662;
	color: white;
	width: 100px;
	height: 30px;
	font-weight: 700;
}

.showLoaderSubcour {
	display: none;
}

.positionAbsolutePassword {
	position: absolute;
	top: 0px;
	position: absolute;
	top: 5px;
	right: 23px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.boredr_none .nav-tabs{
    border-bottom: 0px solid #e8edef;
}

.nopading{
    padding-right:0px;
    padding-left:0px;
}

.theme_input_blue .form-control{
   background: #fff;
   color:#999;
}

.theme_input_blue .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #fff;
}
.theme_input_blue .form-control::-moz-placeholder { /* Firefox 19+ */
  	color: #fff;
}
.theme_input_blue .form-control:-ms-input-placeholder { /* IE 10+ */
  	color: #fff;
}
.theme_input_blue .form-control:-moz-placeholder { /* Firefox 18- */
  	color: #fff;
}
.forpostionReletive {
    position: relative;
}
.postionAbsoluter {
    position: absolute;
    right: 7px;
    top: 8px;
}
.action-layout ul li{
   	display:inline-block;
   	display: inline-block;
    width: 90px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.action-layout ul li:hover {
	background: #ccc;
    color: #333;
}

.action-layout ul li:first-child {
	border: none;
    text-align: left;
    width: 70px;
}

.action-layout ul li:first-child:hover {
	background: none;
    color: #333;
}
#morefilterButtinHide {
	display: none;
}

.nav-right-margin{
	margin-right: 0px !important;
}

.dropdown .nav-right-margin20{
	right: 40px;
	width: 300px;
	
}

.dropdown .nav-right-margin{
    border-bottom-color: #3c8dbc;
    width: 100%;
    /* width: 130px; */
    /* margin-left: 82px; */
    margin: auto;
    background: #3c8dbc;        
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn-flat{
	border-radius: 0;
	box-shadow: none;
	border-width: 1px;
}

.nav-right-margin img{
	border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 4px solid #ddd;
    margin: auto;
}

.nav-change{
    background-color: #f9f9f9;
    padding: 15px 0;
}

.content_popup_menu{
   text-align:center;
   color:#fff;
}

.content_popup_menu .just_top {
	font-weight: bold;
}
.content_popup_menu h4{
font-weight:bold;
}
.content_popup_menu h4{
	margin:0px;
	padding:0 0 8px;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
}
.btn-flat{
	background-color: #0084ff !important;
}
.btn-flat a{
	color:#fff;
}
.profile_pic{
	position: relative;
	text-align: center;
	padding: 10px;
}
.camera_pic{
    position: absolute;
    top: 60px;
    right: 105px;
}
.camera_pic a{
	color: #333;
    font-size: 27px;
}
.camera_pic a:hover {
	color: #eee !important;
}
.content_popup_menu p{
margin:0px;
padding-bottom:8px;
}
.just_top{
	padding:0px !important;
}
.navbar-right .dropdown-menu{
padding:0px !important;
}

/*New*/
.inlinePopup .btn-flat {
	background-color: #f4f4f4 !important;
    border-color: #ddd;
    padding: 6px 12px;
    color: #666666 !important;
    font-size: 14px;
    margin: 0px 6px;
}

.inlinePopup .btn-flat:hover {
	background-color: #e7e7e7 !important;
}

.form-horizontal .control-label {
	color: #333;
	padding-bottom: 5px;
	text-align: left;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	border: 0; 
}

.suggesstion ul li {
	display: block;
	float:none !important;
}

.action-layout ul li.active-btn,
.action-layout ul li.draft-btn,
.action-layout ul li.delete-btn,{
	background: #eee !important;
    color: black !important;
    padding: 0;
}

.action-layout ul li.active-btn input[type="submit"] {
    color: black;
    display: block;
    width: 100%;
    padding: 5px;
}

.red-color {
	color: #e22141;
	padding-left: 2px;
}

.form-horizontal label {
	font-weight: normal;
}

.form-horizontal select {
	/*background: none !important;*/
	color: #333c !important;
    font-size: 13px;
    height: 36px !important;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #e8eef1;
   /* margin-top: 20px;*/
}

.form-horizontal input[type="text"],
.form-horizontal input[typ="password"],
.form-horizontal input[type="tel"],
.form-horizontal input[type="email"],
.form-horizontal input[type="number"],
#fee, #note,
.form-horizontal select {
	font-weight: normal;
	color: #333c !important;
}

/*Timer*/

#timer {
	text-align: center;
	padding: 0 0 15px 0;
	font-size: 25px;
	color: #307fa9;
	letter-spacing: 5px;
}

.icon1:after{
	margin-bottom: 10px;
	padding: 10px;
}

/*Camera Styling*/
.s_dn88 {
	/*position: absolute;
	top: 15px;
	left: 20%;
	height: auto;
	z-index: 1;*/
	z-index: 1;
	display: block;
	margin: 0 auto;
	width: 200px;
	padding-top: 15px;
}

#videos-container video {
	border-radius: 50%;
}

.question_numbers {
	background: white;
	max-height: 300px;
	margin-bottom: 20px;
}

.total_questions{
	height: calc(100% - 100px);
	overflow-y: scroll;	
	padding: 0 0 0 15px;
	max-height: 150px;
    margin-bottom: 20px;
}

.btn_examsummary{
	margin-bottom: 9px;
	padding: 15px;
	height: 15px; 
}

.time_left{
	margin-left: 50px;
}

.time_duration{
}




/*Summary Styling*/
.new-summary .btn-answered,
.new-summary .btn-notanswered,
.new-summary .btn-marked,
.new-summary .btn-notvisited {
	background: #0fb76b;
	border: 0;
	position: relative;
	width: 30px;
	height: 30px;
}

.new-summary .btn-notanswered {
	background: #de4a4a !important;
}

.new-summary .btn-marked {
	background: #DF902F !important;
}
.new-summary .btn-answered:before {
    content: '\2713';
    position: absolute;
    top: 4px;
    left: 10px;
}

.new-summary .btn-notanswered:before {
	content: '\03C7';
	color: white;
	position: absolute;
    top: 4px;
    left: 11px;
}
.new-summary .btn-marked:before{
	/*content:"\f097";*/
	color: white;
	position: absolute;
    top: 5px;
    left: 11px;
}
.new-summary .btn-notvisited:before{
	/*content: "\f024";*/
	color: white;
	position: absolute;
    top: 4px;
    left: 11px;
}

/*instractions styling*/

.instraction-bg{
	background-color: #fff; 
}
.icons-style
{
margin-left: 45px;
letter-spacing: 15px;
}

.instfont{
	font-size: 13px;
	line-height: 25px;

}

.insfont-size{
    font-size: 20px;

}

.h-size{
	margin-top: -8px;
}

/*cheak box style*/

.check-style1 .raushan{
	width: 20px;
    height: 18px;
    left: 75px;
    /*margin-top: -2px;*/
    /*position: absolute;*/
	position: absolute;
   	left: 78px;
    top: -1px;

}

.container_summary1{
    padding: 25px;
    height: 35%;
    overflow-y: auto;
    /*box-shadow: 0px 0px 0px 0px #eee;*/
    background: #fff;
    margin: 0px 50px;
}
.text-align{
	margin-left: -15px;
}


.start-button {
    margin-bottom: 20px;
    height: 40px;
    width: 113px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    }

.start-button:hover {
    margin-bottom: 20px;
    height: 40px;
    width: 113px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3c8dbc !important;
    background: #fff !important;
    border: 1px solid #3c8dbc !important;
    }

.term22{
	color: rgb(222, 74, 74);
    font-size: 12px;
    padding-left: 90px;
    padding-top: 0px;
}

.readCarefully{
	float: right;
    font-style: italic;
    font-size: 14px;
    color: #de4a4a;
    margin-top: 8px;
}

.timimgDuration{
	border-bottom: 1px solid #efefef;
    margin-top: -14px;
}
 


