.invisible-print {
	display: none;
}

.container-inner {
	max-width: 85%;
}

.container-padded {
	max-width: 90%;
}

.pic {
	max-width: 100px;
}

.bordered {
	border-bottom-style: solid;
}

.g1 {
	grid-template-columns: 0fr 3fr 2fr 3fr;
}

.g2 {
	grid-template-columns: 0fr 3fr 2fr 3fr;
}

.g3 {
	grid-template-columns: 3fr 7fr;
}

.g4 {
	grid-template-columns: 0fr 4fr 22fr 0fr;
}

.g5{
	grid-template-columns: 0fr 5fr 12fr 4fr 14fr;
}
.g6 {
	grid-template-columns: 0fr 8fr 26fr 4fr 14fr;
}

.g7 {
	grid-template-columns: 0fr 6fr 20fr;
}
.g9 {
	grid-template-columns: 0fr 8fr 20fr;
}

.g8 {
	grid-template-columns: 0fr 2fr 5fr 4fr 3fr 3fr 4fr 4fr 4fr;
}
.g10 {
	grid-template-columns: 0fr 5fr 9fr 10fr 17fr;
	padding: 0 0 20px;
}
.g11 {
	grid-template-columns: 6fr 11fr 0fr 30fr;
	padding: 0 0 20px;
}
.g12 {
	grid-template-columns: 13fr 20fr 0fr 30fr;
	padding: 0 0 20px;
}

