*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333;
	background-color: #fff;
}

.bold {
	font-weight: 700;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.container-inner,
.container-padded {
	max-width: 80%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.invisible {
	visibility: hidden;
}

.grid {
	display: grid;
}

.bordered {
	border-bottom: 1px dotted #333;
	margin-right: 15px;
}

.centered {
	text-align: center;
}

.p-l-10 {
	padding-left: 10px;
}

.g1 {
	grid-template-columns: 0fr 4fr 1fr 4fr;
	padding: 0 0 20px;
}

.g2 {
	grid-template-columns: 0fr 4fr 1fr 4fr;
	padding: 0 0 20px;
}

.g3 {
	grid-template-columns: 1fr 4fr 0fr 0fr;
	padding: 0 0 20px;
}

.g4 {
	grid-template-columns: 0fr 3fr 25fr 0fr;
	padding: 0 0 20px;
}

.g5 {
	grid-template-columns: 0fr 5fr 13fr 6fr 17fr;
	padding: 0 0 20px;
}
 .g6 {
	grid-template-columns: 0fr 5fr 20fr 6fr 16fr;
	padding: 0 0 20px;
}

.g7 {
	grid-template-columns: 0fr 4fr 21fr;
	padding: 0 0 20px;
}

.g9 {
	grid-template-columns: 0fr 6fr 24fr 0fr;
	padding: 0 0 20px;
}


.g8 {
	grid-template-columns: 0fr 2fr 5fr 3fr 3fr 5fr 5fr 4fr 4fr;
	padding: 0 0 20px;
}
.g10 {
	grid-template-columns: 0fr 5fr 13fr 6fr 17fr;
	padding: 0 0 20px;
}
.g11 {
	grid-template-columns: 6fr 26fr 1fr 30fr;
	padding: 0 0 20px;
}
.g12 {
	grid-template-columns: 10fr 27fr 1fr 30fr;
	padding: 0 0 20px;
}
