<!--  page 1 stu info -->

 


     <style>

     @media print { * 
        {
            -webkit-print-color-adjust:exact;
        }
         }

        @media print {
            @page { size: auto;  margin: 0mm; }
            * {
                margin: 0mm;
                padding: 0mm;
                -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
                color-adjust: exact !important;
                size:A4 landscape;
            }
            body {
                margin: 0;
                padding: 0;
                font-size: 11pt;
                font-family: sans-serif;
                width: 100%;
            }
            .print-pdl0 {
                padding-left: 5px;
            }
            .print-pdr0 {
                padding-right: 0;
            }
            .print-inline {
                width: auto;
            }
            .print-break {
                margin-top: 10px;
            }
            .print-office {
                margin-top: 10px;
            }
            .footer-text, .footer-text img {
                padding-top: 20px;
            }
            .flexFooter {
                padding-top: 20px;
            }
            .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
                float: left;
            }
            .col-sm-12 {
                width: 100%;
            }
            .col-sm-11 {
                width: 91.66666667%;
            }
            .col-sm-10 {
                width: 83.33333333%;
            }
            .col-sm-9 {
                width: 75%;
            }
            .col-sm-8 {
                width: 66.66666667%;
            }
            .col-sm-7 {
                width: 58.33333333%;
            }
            .col-sm-6 {
                width: 50%;
            }
            .col-sm-5 {
                width: 41.66666667%;
            }
            .col-sm-4 {
                width: 33.33333333%;
            }
            .col-sm-3 {
                width: 25%;
            }
            .col-sm-2 {
                width: 16.66666667%;
            }
            .col-sm-1 {
                width: 8.33333333%;
            }
            .form1 .row {
                margin-top: 10px;
            }
            .form1 .details label {
                font-weight: normal;
            }
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
            }
            .form1 .photo {
                width: 100px;
                height: 100px;
                border: 2px solid black;
                display: flex;
                align-items: center;
                margin: 0 auto;
                justify-content: center;
            }

            .form1 .formBeginning {
                padding: 20px;
            }

            .print:last-child {
                page-break-after: auto;
            }
        }

        @media screen {
            .mgt20 {
                margin-top: 20px;
            }

            .mgt30 {
                margin-top: 30px;
            }

            .mgt40 {
                margin-top: 40px;
            }

            .mgt60 {
                margin-top: 60px;
            }

            input {
                padding: 5px 10px;
            }

            input:hover,
            input:focus {
                outline: none;
            }

            .form1 input {
                width: 100%;
                border: none;
                border-bottom: 1px dotted black;
            }

            .form1 .photo {
                width: 200px;
                height: 200px;
                border: 2px solid black;
                display: flex;
                align-items: center;
                margin: 0 auto;
                justify-content: center;
            }

            .form1 .details label {
                font-weight: normal;
            }

            .form1 input.form-check-input {
                width: auto;
            }

            .form1 .formBeginning {
                padding: 20px;
            }

            .form1 .btn-submit {
                width: auto;
                display: block;
                margin: 20px auto;
            }
        }

        @media only screen and (max-width: 767px) {
            .form1 .mversion {
                display: flex;
                flex-direction: column-reverse;
                margin-top: 40px;
            }

            .form1 .mversion input {
                margin-bottom: 20px;
            }

            .form1 .mversion .mgt60 {
                margin-top: 0;
            }

            .mversion-mgt20 {
                margin-top: 20px !important;
            }

            .mversion-radio {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .flexFooter {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }

            .flexFooter p {
                padding-top: 20px;
                text-align: center;
            }
        }

        @media only screen and (max-width: 991px) {
            .tversion-mgt20 {
                margin-top: 20px;
            }
        }

        @media only screen and (min-width: 768px) {
            .form1 label {
                padding-top: 10px;
            }

            .footer-text {
                padding-top: 40px;
            }
        }

        @media only screen and (min-width: 992px) {
            .lversion-padding {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
   
    </style>



<!-- page 2 stu info -->

<style>
        @media print {
            @page { size: auto;  margin: 0mm; }
            * {
                margin: 0mm;
                padding: 0mm
                -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
                color-adjust: exact !important;
                size:A4 landscape;
            } 
* {
    -webkit-print-color-adjust:exact;
}


            body {
                margin: 0;
                padding: 0;
                font-size: 10pt;
                font-family: sans-serif;
                width: 100%;
                height: 100%;
            }

.graph-image img{display:inline;}

            .printimg-break {
                margin-top: 10px;
            }

            .printimg-bottom_break {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            table {
                margin-bottom: 5px !important;
            }

            .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
                float: left;
            }
            .col-sm-12 {
                width: 100%;
            }
            .col-sm-11 {
                width: 91.66666667%;
            }
            .col-sm-10 {
                width: 83.33333333%;
            }
            .col-sm-9 {
                width: 75%;
            }
            .col-sm-8 {
                width: 66.66666667%;
            }
            .col-sm-7 {
                width: 58.33333333%;
            }
            .col-sm-6 {
                width: 50%;
            }
            .col-sm-5 {
                width: 41.66666667%;
            }
            .col-sm-4 {
                width: 33.33333333%;
            }
            .col-sm-3 {
                width: 25%;
            }
            .col-sm-2 {
                width: 16.66666667%;
            }
            .col-sm-1 {
                width: 8.33333333%;
            }

            .wrapper {
                
            }

            .wrapper:after {
               
            }

            .form2 label {
                font-weight: normal;
                padding-top: 10px;
            }

            input {
                padding: 5px 10px;
            }

            input:hover,
            input:focus {
                outline: none;
            }

            .form2 input {
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
            }

            .form2 {
                padding: 0 20px;
            }

        }
        @media screen {
            .mgt20 {
                margin-top: 20px;
            }

            input {
                padding: 5px 10px;
            }

            input:hover,
            input:focus {
                outline: none;
            }

            .form2 {
                padding: 40px;
            }

            .form2 input {
                width: 100%;
                border: none;
                border-bottom: 1px dotted black;
            }

            .form2 label {
                font-weight: normal;
            }

            .wrapper {
                position: relative;
                display: block;
            }

            .wrapper:after {
                position: absolute;
                top: 5%;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                background: url('../../../images/stu_img/watermark.jpg');
                background-size: contain;
                background-position: 50% 50%;
                width: 600px;
                margin: 0 auto;
                background-repeat: no-repeat;
                height: 1200px;
            }

 .image{
     position:relative;
    }
    .image:before{
       visibility:visible;
        
    } 

        }
    </style>



<!-- page 3 style stu info -->

    <style>




        @media print {
            @page { size: auto;  margin: 0mm; }
            * {
                visibility:visible;
                margin: 0mm;
                padding: 0mm
                -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
                color-adjust: exact !important;
                size:A4 landscape;
            }
            body {
                margin: 0;
                padding: 0;
                font-size: 10pt;
                font-family: sans-serif;
                width: 100%;
                height: 100%;
            }

            .form3 ol li {
                padding-top: 5px;
                font-size: 9pt;


            }

            .paddingprint20{
                padding: 20px;
            }

            .mgt20 .signature {
                display: inline-block;
                padding-top: 35px;
                 
            }

            .printimg-break {
                margin-top: 10px;
            }

            .form3 .signature {
                padding-left: 40px;
                padding-right: 40px;
            }
         
            .form3 .photo2 {
                width: 100px;
                height: 50px;
                border: 2px solid black;
                display: flex;
                align-items: center;
                margin: 0 auto;
                justify-content: center;
            }
            .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
                float: left;
            }
            .col-sm-12 {
                width: 100%;
            }
            .col-sm-11 {
                width: 91.66666667%;
            }
            .col-sm-10 {
                width: 83.33333333%;
            }
            .col-sm-9 {
                width: 75%;
            }
            .col-sm-8 {
                width: 66.66666667%;
            }
            .col-sm-7 {
                width: 58.33333333%;
            }
            .col-sm-6 {
                width: 50%;
            }
            .col-sm-5 {
                width: 41.66666667%;
            }
            .col-sm-4 {
                width: 33.33333333%;
            }
            .col-sm-3 {
                width: 25%;
            }
            .col-sm-2 {
                width: 16.66666667%;
            }
            .col-sm-1 {
                width: 8.33333333%;
            }

        }
        @media screen {
            .mgt20 {
                margin-top: 20px;
            }

            .form3 {
                padding: 40px;

            }

            .form3 .signature {
                padding:120px 40px 0 40px;
            }

            .form3 ol li {
                padding-top: 10px;
            }

            .wrapper {
                position: relative;
                display: block;
            }

            .wrapper:after {
                position: absolute;
                top: 20%;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                background: url('../../../images/stu_img/watermark.jpg');
                background-size: contain;
                background-position: 50% 50%;
                width: 800px;
                margin: 0 auto;
                background-repeat: no-repeat;
                height: 800px;
            }
        }
    </style>


<!-- page 4 style stu info -->


 <style>
        @media print {
            @page { size: auto;  margin: 0mm; }
            * {
                margin: 0mm;
                padding: 0mm
                -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
                color-adjust: exact !important;
                size:A4 landscape;
            }
            body {
                margin: 0;
                padding: 0;
                font-size: 9pt;
                font-family: sans-serif;
                width: 100%;
                height: 100%;
            }

            .printimg-break {
                margin-top: 10px;
            }

            .form4 {
                padding:10px 20px;
            }

            .form4 input {
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
            }

            .form4 .signature {
                padding:20px 40px 0 40px;
            }

            .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
                float: left;
            }
            .col-sm-12 {
                width: 100%;
            }
            .col-sm-11 {
                width: 91.66666667%;
            }
            .col-sm-10 {
                width: 83.33333333%;
            }
            .col-sm-9 {
                width: 75%;
            }
            .col-sm-8 {
                width: 66.66666667%;
            }
            .col-sm-7 {
                width: 58.33333333%;
            }
            .col-sm-6 {
                width: 50%;
            }
            .col-sm-5 {
                width: 41.66666667%;
            }
            .col-sm-4 {
                width: 33.33333333%;
            }
            .col-sm-3 {
                width: 25%;
            }
            .col-sm-2 {
                width: 16.66666667%;
            }
            .col-sm-1 {
                width: 8.33333333%;
            }

        }
        @media screen {
            .mgt20 {
                margin-top: 20px;
                padding: 20px;
            }

            .form4 {
                padding: 40px;
            }
            .form4 input {
                width: 100%;
                border: none;
                border-bottom: 1px dotted black;
            }

            .form4 .signature {
                padding:40px 40px 0 40px;
            }

            img {
                display: block;
                margin: 0 auto;
            }

        }
    </style>
