

    /* Customize the label (the nexCheckbox) */

    .nexCheckbox {

        display: block;

        position: relative;

        padding-top: 4px;

        padding-left: 30px;

        margin-bottom: 12px;

        cursor: pointer;

        font-size: 12px;

        -webkit-user-select: none;

        -moz-user-select: none;

        -ms-user-select: none;

        user-select: none;

        font-weight: normal;

        color: #333;

        top: 10px;

    }



    /* Hide the browser's default checkbox */

    .nexCheckbox input {

        position: absolute;

        opacity: 0;

        cursor: pointer;

    }



    /* Create a custom checkbox */

    .checkmark {

        position: absolute;

        top: 0;

        left: 0;

        height: 22px;

        width: 22px;

        background-color: #eee;

    }



    /* On mouse-over, add a grey background color */

    .nexCheckbox:hover input ~ .checkmark {

        background-color: #ccc;

    }



    /* When the checkbox is checked, add a blue background */

    .nexCheckbox input:checked ~ .checkmark {

        background-color: #01739a;

    }



    /* Create the checkmark/indicator (hidden when not checked) */

    .checkmark:after {

        content: "";

        position: absolute;

        display: none;

    }



    /* Show the checkmark when checked */

    .nexCheckbox input:checked ~ .checkmark:after {

        display: block;

    }



    /* Style the checkmark/indicator */

    .nexCheckbox .checkmark:after {

        left: 5px;

        top: 1px;

        width: 7px;

        height: 12px;

        border: solid white;

        border-width: 0 3px 3px 0;

        -webkit-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

        transform: rotate(45deg);

    }



    /* Media Query*/

    @media only screen and (min-width: 600px) {

        .wrapper .login-form {

            width: 400px;

        }

    }