	html, body{
        height: 100%;
    }
    .wrapper {
        /*background: url('../img/hero-bg.jpeg') no-repeat;*/
        background: #232d4e;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .wrapper .login-form {
        width: 300px;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .wrapper .login-form .form-data {
        border: 1px solid #fff;
        margin-top: 20px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 8px 6px -6px #333;
    }
    .wrapper .login-form .form-data h2 {
        margin: 0  0 15px;
        font-size: 24px;
        padding: 15px;
    }
    .wrapper .login-form form {
        padding: 0 20px 15px;
    }
    .wrapper .login-form form input {
        padding: 8px 10px;
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #E2E7EB;
        border-radius: 4px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.070) inset;
        color: #555;
        font-size: 12px;
        line-height: 1.42857;
        width: 100%;
        cursor: text;
    }
    .wrapper .login-form form a {
        color: #333;
        text-decoration: none;
        font-size: 12px;
    }
    .wrapper .login-form form .btn-signin {
        width: 100px;
        display: block;
        margin: 15px auto 10px;
        background: #01739a;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }

    .wrapper .login-form form .btn-signin:hover {
        transition: all 0.4s ease-in-out;
        background: #007da2;
    }
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-top: 4px;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: normal;
        color: #333;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #01739a;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        top: 3px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* Media Query*/
    @media only screen and (min-width: 600px) {
        .wrapper .login-form {
            width: 400px;
        }
    }